@using Domain.Instructors;
@using Web.Models;
@model UpdateInstructor

@{
    ViewData["Title"] = "Update";
}

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" />
        <div class="mb-3">
            <label asp-for="@Model.Cedula" class="form-label">Cedula.</label>
            <input id="cedula" asp-for="@Model.Cedula" type="text" class="form-control" />
            <span asp-validation-for="@Model.Cedula" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="@Model.Nombre" class="form-label">First Name.</label>
            <input id="nombre" asp-for="@Model.Nombre" type="text" class="form-control" />
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Apellido" class="form-label">Last Name.</label>
            <input id="apellido" asp-for="@Model.Apellido" type="text" class="form-control" />
            <span asp-validation-for="@Model.Apellido" class="text-danger"></span>
        </div>
        @{
            var partialModel = SaveCancelViewModel.Create(Model.Id, "/instructors");
        }
        <partial name="_SaveCancelButtons" model="partialModel" />
    </form>
</div>
