@using Domain.Rutinas;
@using Web.Models;
@model UpdateRutina

@{
    ViewData["Title"] = "Update";
}

<br />
<section class="contact-section spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="leave-comment">

                    <div class="section-title text-center">
                        <h2>ACTUALIZACIÓN DE LA RUTINA</h2>
                    </div>

                    <form method="post" class="section-title text-center">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.Id" />

                        <div class="mb-3">
                            <span><label asp-for="@Model.Descripcion" class="form-label">Descripción</label></span>
                            <input id="descripcion" asp-for="@Model.Descripcion" type="text" class="form-control" />
                            <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <span><label asp-for="@Model.Series" class="form-label">Series</label></span>
                                <input id="series" asp-for="@Model.Series" type="text" class="form-control" />
                                <span asp-validation-for="@Model.Series" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 mb-3">
                                <span><label asp-for="@Model.Repeticiones" class="form-label">Repeticiones</label></span>
                                <input id="repeticiones" asp-for="@Model.Repeticiones" type="text" class="form-control" />
                                <span asp-validation-for="@Model.Repeticiones" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <span><label asp-for="@Model.Peso" class="form-label">Peso (Kg)</label></span>
                            <input id="peso" asp-for="@Model.Peso" type="text" class="form-control" />
                            <span asp-validation-for="@Model.Peso" class="text-danger"></span>
                        </div>

                        @{
                            var partialModel = SaveCancelViewModel.Create(@Model.Id, "/rutinas");
                        }
                        <div class="text-center" class="mb-3">
                            <partial name="_SaveCancelButtons" model="partialModel" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
